{% extends "page.html" %}

{% block page_styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ 'stylesheets/404.css' | url }}">
{% endblock %}

{% block page_content %}
    <h1>Oops! Something went wrong!</h1>
    <p>We couldn't handle your request. <br>
    Please go back to the <a href="{{ config.site_url }}">{{ config.site_name }}</a> homepage, <br>
    or press <kbd>S</kbd> to search on this site.</p>
{% endblock %}

{% block page_scripts %}
    {{ super() }}
    <script type="application/javascript" src="{{ 'javascripts/404.js' | url }}"></script>
{% endblock %}