{% extends "page.html" %}

{% block page_styles %}
  {{ super() }}

  <!-- Make the index page clean -->
  <style>
    /* Set background image */
    body {
      background: 
        linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)), 
        url("assets/images/index.jpg"); 
        /* url("https://source.unsplash.com/random"); */
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-attachment: fixed;
      background-position: center center;
      background-repeat: no-repeat;
    }
    
    /* Header should be transparent */
    .md-header {
      background-color: transparent;
    }
  
    .md-header[data-md-state=shadow] {
      background-color: transparent;
      box-shadow: none;
    }
    
    /* Search box looks better */
    .md-search__input {
      background-color: transparent;
    }
    
    /* Navigation looks better */
    .md-tabs {
      background-color: transparent;
      font-size: 1.2em;
    }

    /* Footer looks better */
    .md-footer {
      background-color: transparent;
    }

    /* remove footer social links */
    .md-footer-social {
      display: none;
    }

    /* text effect */
    @keyframes glow {
      from {
        text-shadow: 0 0 10px #fff, 0 0 50px #2196f3;
      }
      
      to {
        text-shadow: 0 0 20px #fff, 0 0 60px #3f51b5;
      }
    }

    .glow {
      -webkit-animation: glow 1s ease-in-out infinite alternate;
      -moz-animation: glow 1s ease-in-out infinite alternate;
      animation: glow 1s ease-in-out infinite alternate;
    }
    
    /* tweak main content layout */
    .md-main {
      display: flex;
    }

    .md-main__inner {
      height: unset;
      flex-grow: 1;
    }

    .md-content {
      padding-left: 1em;
      padding-right: 1em;
    }

    .md-content__inner {
      height: 100%;
    }

    .intro {
      height: 100%;
      display: flex;
      flex-direction: column;
    }

    .intro-text {
      flex-grow: 1;
      position: relative;
    }

    .intro-text-content {
      position: absolute;
      bottom: 0;
    }

    .intro-links {
      flex-grow: 1;
      margin-left: -0.25em;
    }

    .intro-links svg:hover {
      color: #cddc39;
    }

    @media screen and (max-width: 44.9375em) {
      .intro-text {
        flex-grow: 2;
      }

      .intro-links {
        flex-grow: 1;
      }
    }

    @media screen and (max-width: 23.9375em) {
      .intro-text {
        flex-grow: 3;
      }

      h1.intro-text-content {
        font-size: 1.8em;
      }

      .intro-links {
        flex-grow: 1;
      }
    }
    
    @media screen and (max-width: 19.9375em) {
      .md-content {
        padding-left: 0.25em;
        padding-right: 0.25em;
      }

      h1.intro-text-content {
        font-size: 1.6em;
      }
    }
    
  </style>
{% endblock %}

<!-- Content -->
{% block page_content %}

<!-- Introduction -->
<div class="intro">
  <div class="intro-text">
    <h1 class="intro-text-content text-white">
      <span class="text-tiny">Welcome to</span><br/>
      <span class="glow">{{ config.site_name }}</span><br/>
      <span class="text-tiny text-yellow">{{ config.site_description }}</span>
    </h1>
  </div>

  <div class="intro-links">
    <div class="intro-buttons text-medium">
      <a class="btn btn-primary mt-2 mx-1 text-white" href="/projects">Projects</a>
      <a class="btn btn-danger mt-2 mx-1 text-white" href="/blog">Blog</a>
      <a class="btn btn-success mt-2 mx-1 text-white" href="/about">About</a>
    </div>

    <div class="intro-social mt-3">
      <a class="mx-1 text-light-grey" href="#">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32">
              <title>https://facebook.com/trong.q.vu</title>
              <path fill="currentColor" d="M 12 0 c -6.627 0 -12 5.373 -12 12 s 5.373 12 12 12 s 12 -5.373 12 -12 s -5.373 -12 -12 -12 Z m 3 8 h -1.35 c -0.538 0 -0.65 0.221 -0.65 0.778 v 1.222 h 2 l -0.209 2 h -1.791 v 7 h -3 v -7 h -2 v -2 h 2 v -2.308 c 0 -1.769 0.931 -2.692 3.029 -2.692 h 1.971 v 3 Z"></path>
          </svg>
      </a>
      <a class="mx-1 text-light-grey" href="#">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32">
              <title>https://github.com/vuquangtrong</title>
              <path fill="currentColor" d="M 12 0 c -6.626 0 -12 5.373 -12 12 c 0 5.302 3.438 9.8 8.207 11.387 c 0.599 0.111 0.793 -0.261 0.793 -0.577 v -2.234 c -3.338 0.726 -4.033 -1.416 -4.033 -1.416 c -0.546 -1.387 -1.333 -1.756 -1.333 -1.756 c -1.089 -0.745 0.083 -0.729 0.083 -0.729 c 1.205 0.084 1.839 1.237 1.839 1.237 c 1.07 1.834 2.807 1.304 3.492 0.997 c 0.107 -0.775 0.418 -1.305 0.762 -1.604 c -2.665 -0.305 -5.467 -1.334 -5.467 -5.931 c 0 -1.311 0.469 -2.381 1.236 -3.221 c -0.124 -0.303 -0.535 -1.524 0.117 -3.176 c 0 0 1.008 -0.322 3.301 1.23 c 0.957 -0.266 1.983 -0.399 3.003 -0.404 c 1.02 0.005 2.047 0.138 3.006 0.404 c 2.291 -1.552 3.297 -1.23 3.297 -1.23 c 0.653 1.653 0.242 2.874 0.118 3.176 c 0.77 0.84 1.235 1.911 1.235 3.221 c 0 4.609 -2.807 5.624 -5.479 5.921 c 0.43 0.372 0.823 1.102 0.823 2.222 v 3.293 c 0 0.319 0.192 0.694 0.801 0.576 c 4.765 -1.589 8.199 -6.086 8.199 -11.386 c 0 -6.627 -5.373 -12 -12 -12 Z"></path>
          </svg>
      </a>
      <a class="mx-1 text-light-grey" href="#">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32">
              <title>https://www.linkedin.com/in/vqtrong</title>
              <path fill="currentColor" d="M 12 0 c -6.627 0 -12 5.373 -12 12 s 5.373 12 12 12 s 12 -5.373 12 -12 s -5.373 -12 -12 -12 Z m -2 16 h -2 v -6 h 2 v 6 Z m -1 -6.891 c -0.607 0 -1.1 -0.496 -1.1 -1.109 c 0 -0.612 0.492 -1.109 1.1 -1.109 s 1.1 0.497 1.1 1.109 c 0 0.613 -0.493 1.109 -1.1 1.109 Z m 8 6.891 h -1.998 v -2.861 c 0 -1.881 -2.002 -1.722 -2.002 0 v 2.861 h -2 v -6 h 2 v 1.093 c 0.872 -1.616 4 -1.736 4 1.548 v 3.359 Z"></path>
          </svg>
      </a>
      <!--
      <a class="mx-1 text-light-grey" href="#">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32">
              <title>https://twitter.com/trongvq</title>
              <path fill="currentColor" d="M 12 0 c -6.627 0 -12 5.373 -12 12 s 5.373 12 12 12 s 12 -5.373 12 -12 s -5.373 -12 -12 -12 Z m 6.066 9.645 c 0.183 4.04 -2.83 8.544 -8.164 8.544 c -1.622 0 -3.131 -0.476 -4.402 -1.291 c 1.524 0.18 3.045 -0.244 4.252 -1.189 c -1.256 -0.023 -2.317 -0.854 -2.684 -1.995 c 0.451 0.086 0.895 0.061 1.298 -0.049 c -1.381 -0.278 -2.335 -1.522 -2.304 -2.853 c 0.388 0.215 0.83 0.344 1.301 0.359 c -1.279 -0.855 -1.641 -2.544 -0.889 -3.835 c 1.416 1.738 3.533 2.881 5.92 3.001 c -0.419 -1.796 0.944 -3.527 2.799 -3.527 c 0.825 0 1.572 0.349 2.096 0.907 c 0.654 -0.128 1.27 -0.368 1.824 -0.697 c -0.215 0.671 -0.67 1.233 -1.263 1.589 c 0.581 -0.07 1.135 -0.224 1.649 -0.453 c -0.384 0.578 -0.87 1.084 -1.433 1.489 Z"></path>
          </svg>
      </a>
      -->
    </div>
  </div>
</div>

{% endblock %}