{% extends "page.html" %}

{% block page_styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ 'stylesheets/index.css' | url }}">
{% endblock %}

{% block page_content %}
    <div class="padding-up"></div>
    <section class="section">    
        <div class="section-content">
            <div class="intro"> 
                <span>Welcome to</span>
                <h1 class="glow-pulse site-title">
                    {{ config.site_name }}
                    <span>&nbsp;&nbsp;</span>
                </h1>
                {% if page.meta.typed %}
                <span style="margin-left: -0.2em;">&nbsp;</span><span class="glow-pulse site-typed typed" style="color: yellow;"></span>        
                {% endif %}
            </div>

            <div class="button-links">  
                <a class="btn btn-primary" href="{{ config.site_url }}projects">Projects</a>
                <a class="btn btn-danger" href="{{ config.site_url }}posts">Blog</a>
                <a class="btn btn-success" href="{{ config.site_url }}about">About</a>
            </div>

            <div class="button-social">
                {% for social in config.extra.social %}
                    {% set title = social.name %}
                    {% if not title and "//" in social.link %}
                        {% set _,url = social.link.split("//") %}
                        {% set title = url.split("/")[0] %}
                    {% endif %}
                    <a href="{{ social.link }}" target="_blank" rel="noopener" title="{{ title | e }}" class="mx-1 text-light-gray">
                        <span class="twemoji">
                            {% include ".icons/" ~ social.icon ~ ".svg" %}
                        </span>
                    </a>
                {% endfor %}
              </div>
        </div>
    </section>
    <div class="padding-down"></div>
{% endblock %}

{% block page_scripts %}
    {{ super() }}
    <script type="application/javascript" src="{{ 'javascripts/index.js' | url }}"></script>
    {% if page.meta.typed %}
        <script type="application/javascript" src="{{ 'javascripts/typed.js' | url }}"></script>
        {% include 'index_typed.html' %}
    {% endif %}
{% endblock %}