<!-- get site information -->
{% set title = config.site_name %}
{% if page and page.meta and page.meta.title_full %}
    {% set title = page.meta.title_full %}
{% elif page and page.meta and page.meta.title %}
    {% set title = page.meta.title %}
{% elif page and page.title %}
    {% set title = page.title %}
{% endif %}

{% set description = config.site_description %}
{% if page and page.meta and page.meta.description %}
    {% set description = page.meta.description %}
{% endif %}

{% if page and page.meta and page.meta.category %}
    {% set category = page.meta.category %}
{% endif %}

{% if page and page.meta and page.meta.banner %}
    {% set image = page.meta.banner %}
{% endif %}

{% if page and page.meta and page.meta.tags %}
    {% set tags = page.meta.tags %}
{% endif %}

<!-- base -->
{% extends "base.html" %}

<!-- add site name in title -->
{% block htmltitle %}   
    <title>{{ title | striptags }} - {% if category is defined %} {{ category | striptags }} {% endif %} - {{ config.site_name }}</title>
{% endblock %}

<!-- create social graphic banner -->
{% block extrahead %}
    <meta property="og:type" content="website" />
    <meta property="og:title" content="
        {{- title | striptags ~ ' - ' ~ config.site_name -}}
    "/>
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:url" content="{{ page.canonical_url }}" />
    <meta property="og:image" content="
            {%- if image is defined -%}
                {{ page.canonical_url ~ image }}
            {%- else -%}
                {{ config.site_url ~ 'assets/banner.jpg' }}
            {%- endif -%}
            " />
    <meta property="og:site_name" content="{{ config.site_name }}" />
    <meta name="twitter:card" content="summary" />
{% endblock %}

<!-- add tag cloud to site nav -->
{% block site_nav %}
    {% if nav %}
        {% if page and page.meta and page.meta.hide %}
            {% set hidden = "hidden" if "navigation" in page.meta.hide %}
        {% endif %}
        <div class="md-sidebar md-sidebar--primary"
             data-md-component="sidebar"
             data-md-type="navigation" {{ hidden }}>
            <div class="md-sidebar__scrollwrap">
                <div class="md-sidebar__inner">
                    {% include "partials/nav.html" %}

                    {# show tags on the left side if the right side has toc #}
                    {% if page.toc %}
                        <br>
                        <div class="tag-cloud-nav">
                            {% include "partials/tag-cloud.html" %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
    {% if not "toc.integrate" in features %}
        {% if page and page.meta and page.meta.hide %}
            {% set hidden = "hidden" if "toc" in page.meta.hide %}
        {% endif %}
        <div class="md-sidebar md-sidebar--secondary"
             data-md-component="sidebar"
             data-md-type="toc" {{ hidden }}>
            <div class="md-sidebar__scrollwrap">
                <div class="md-sidebar__inner">
                    {% if not page.is_homepage %}
                        {% include "partials/toc.html" %}
                    {% endif %}
                    {# show tags on the right side if there is no toc there #}
                    {% if page.is_homepage or not page.toc %}
                        {% if page.is_homepage%}<br>{% endif %}
                        <div class="tag-cloud-toc">
                            {% include "partials/tag-cloud.html" %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

<!-- format content -->
{% block content %}
    {% block page_content %}
        {# the cover page #}
        <style>
            .md-typeset .cover {
                margin-bottom: 1em;
            }
            .md-typeset .page-category {
                font-size: large;
            }
            .md-typeset .page-description {
                font-weight: bold;
            }

            @media print {
                .md-typeset .cover {
                    height: 100vh;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
            }
        </style>

        <div class="cover">
            {% if category is defined %}
            <p class="page-category print-only">{{ category }}</p>
            {% endif %}
            <h1 class="page-title">{{ title | d(config.site_name, true) }}</h1>
            <p class="page-description">{{ description }}</p>
            {% if tags is defined %}
                <p class="page-tags">
                    {% for tag in tags %}
                        <a class="tag" href="{{ config.site_url }}tags/#{{tag}}">
                            <span class="tag-name">
                                #{{ tag }}
                            </span>
                        </a>
                    {% endfor %}
                </p>
            {% endif %}
            {% if page.meta.git_revision_date_localized %}
                {% import "partials/language.html" as lang with context %}
                    <p class="md-source-date">
                        <hr style="margin-bottom: .5em;">
                        <small>
                            {{ lang.t("source.revision.date") }}:
                            {{ page.meta.git_revision_date_localized }}
                        </small>
                    </p>
            {% endif %}
        </div>
        
        {# the table of content page #}
        <style>
            .md-typeset .toc {
                display: none;
            }
            .md-typeset .toc label {
                display: none;
            }
            .md-typeset .toc .md-nav {
                font-size: unset;
                line-height: 1.6;
            }
            .md-typeset .toc .md-nav--secondary {
                margin-left: -2em;
            }
            .md-typeset .toc .md-nav__list {
                margin: 0;
            }
            .md-typeset .toc ul {
                list-style: none;
            }

            @media print {
                .md-typeset .toc {
                    display: block;
                    page-break-after: always;
                }
                .md-typeset .toc .md-nav__link {
                    color: var(--md-typeset-a-color);
                }
                .md-typeset .toc .md-nav__link.md-nav__link--active {
                    font-weight: unset;
                }
            }
        </style>

        <div class="toc">
            <h2>Table of Content</h2>
            {% include "partials/toc.html" %}
        </div>

        {# show the children pages if no content #}
        {% if page.is_section and page.markdown == '' %}
            <h2>Posts in this sections:</h2>
            <ol>
            {% for p in page.children %}
                {% if not p.meta.hidden %}
                    <li>
                        <a href="{{ p.canonical_url }}">
                            {%- if p.meta and p.meta.title_full -%}
                                {{- p.meta.title_full -}}
                            {%- elif p.meta and p.meta.title -%}
                                {{- p.meta.title -}}
                            {%- else -%}
                                {{- p.title -}}
                            {%- endif -%}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
            </ol>
        {% else %}
            {{ page.content }}
        {% endif %}

    {% endblock %}
{% endblock %}
