{% extends "newbase.html" %}

{% block page_styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ 'stylesheets/page.css' | url }}">
{% endblock %}

{% block page_content %}
    <!-- Use user content from markdown file when usercontent is true -->
    {% if page.meta and page.meta.usercontent %}
        {{ page.content }}
    {% endif %}
{% endblock %}

<!-- Remove Disqus on pages -->
{% block disqus %}
{% endblock %}

{% block page_scripts %}
    {{ super() }}
    <script type="application/javascript" src="{{ 'javascripts/page.js' | url }}"></script>
{% endblock %}