{% extends "newbase.html" %}

{% block page_styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ 'stylesheets/posts.css' | url }}">
{% endblock %}

{% block page_content %}
    <p>
    Here listed all articles in the my blog. I hope you can find something useful here.
    The left panel is grouped in categories. You can bring up the Search engine anytime by pressing the <kbd class="key-s">S</kbd> key too.
    </p>

    <h3>Features posts:</h3>

    <!-- Scan all pages and get list of pages in posts folder -->
    {% for item in pages %}
        {% if item.src_path.startswith('posts') %}
            {% set page = item.page %}
            {% if page.meta and page.meta.featured %}
            <!-- Generate a post -->
            <div class="featured-post">
                <h4 class="title">
                    <a class="link" href="{{ page.canonical_url }}">{{ page.title }}</a>
                </h4>
                <p class="description">{{ page.meta.description }}</p>
                <div class="info">
                    <div class="extra"></div>
                    <div class="tags">
                        {% if page.meta and page.meta.tags %}
                            {% for tag in page.meta.tags %}
                                <span><a class="tag tag-{{loop.index % 7}}" href="/tags/#{{tag}}">{{tag}}</a></span>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endblock %}

{% block page_scripts %}
    {{ super() }}
    <script type="application/javascript" src="{{ 'javascripts/posts.js' | url }}"></script>
{% endblock %}