python-frontmatter
mkdocs-material
mkdocs-markdown-filter
mkdocs-exclude
mkdocs-awesome-pages-plugin
mkdocs-macros-plugin
mkdocs-minify-plugin
mkdocs-redirects
mkdocs-mermaid2-plugin
kbdextension
markdown-captions
markdown-customblocks
mdx-custom-span-class
