/* announcement is center of the page */
.md-typeset {
    text-align: center;
}

/* highlight message */
.md-typeset 
h1 {
    color: red;
}

/* make text bigger */
.md-typeset 
p {
    font-size: 1.3em;
}
