.new-span {
    font-style: unset;
}

/* native elements */
strong,
em,
ins,
del,
mark {
    color: darkblue;
}

/* Make logo look better */
.md-nav__title .md-nav__button.md-logo img, 
.md-nav__title .md-nav__button.md-logo svg {
    display: unset;
    width: 32px;
    height: 32px;
}

/* Title line */
.md-header-nav__title {
    padding: 0;
}

/* Tab bar */
.md-tabs {
    z-index: 1;
}

/* Tab list */
.md-tabs__list {
    margin-left: 0;
}

/* easy to catch the active tab */
.md-tabs__link--active {
    color: yellow;
}

/* add space after the back-to-top button */
.md-content {
    padding-bottom: 30px;
}

/* Merge footer and footer-meta background */
.md-footer-meta {
    background-color: transparent;
}

/* icons in footer should be bigger */
.md-footer-social__link svg {
    max-height: unset;
    width: 24px;
    height: 24px;
}

/* highlight code */
.md-typeset code,
.md-typeset .admonition-title code, 
.md-typeset summary code {
    color: var(--md-code-hl-special-color);
    word-break: unset !important;
}

/* highlight key */
.md-typeset kbd {
    padding: 0 0.5em;
    box-shadow: unset;
    display: unset;
    vertical-align: unset;
    background-color: unset;
    color: dodgerblue;
    font-size: unset;
    border: 1px solid rgba(30,144,255,0.25);
}

/* format the figure caption */
.md-typeset figcaption {
    font-size: 0.9em;
    text-align: center;
    margin: 0 auto 2em;
    color: darkslateblue;
}

/* filename before a code block */
.file {
    margin-bottom: -1.25em !important;
    padding-left: 1.1764705882em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    font-size: 0.8em;
    background: lightyellow;
    color: blue;
}

/* increase text size */
.md-typeset .admonition, 
.md-typeset details,
.md-typeset code,
.codehilitetable .linenos, 
.highlighttable .linenos {
    font-size: 0.9em;
}

/* modify admonition */
.md-typeset .admonition, 
.md-typeset details {
    border-left: none;
    box-shadow: none;
    background-color: var(--md-code-bg-color);
}

.md-typeset .admonition-title, 
.md-typeset summary {
    margin: 0 -0.6rem 0 -0.6rem;
    border-left: none;
}

/* add output block */
.md-typeset details.output {
    margin-top: -2em;
    margin-left: unset;
    margin-right: unset;
    margin-bottom: unset;
    padding: 0;
    border-left: none;
    box-shadow: none;
    background-color: var(--md-code-bg-color);
}

.md-typeset details.output > summary {
    margin: unset;
    padding: 0.4rem 0;
    font-weight: unset;
    border-left: none;
    background-color: var(--md-code-bg-color);
    color: darkred;
}

.md-typeset details.output > summary::before {
    display: none;
}

.md-typeset details.output > :nth-child(2) {
    margin-top: -2em;
}

/* add no-header table */
.table-no-header table thead {
    display: none;
}

/* add colored divs */
.note,
.seealso {
    color: #448aff;
}

.bg-note,
.bg-seealso {
    background-color: #448aff;
}

.abstract,
.summary,
.tldr {
    color: #00b0ff;
}

.bg-abstract,
.bg-summary,
.bg-tldr {
    background-color: #00b0ff;
}

.info,
.todo {
    color: #00b8d4;
}

.bg-info,
.bg-todo {
    background-color: #00b8d4;
}

.tip,
.hint,
.important {
    color: #00bfa5;
}

.bg-tip,
.bg-hint,
.bg-important {
    background-color: #00bfa5;
}

.success,
.check,
.done {
    color: #00c853;
}

.bg-success,
.bg-check,
.bg-done {
    background-color: #00c853;
}

.question,
.help,
.faq {
    color: #64dd17;
}

.bg-question,
.bg-help,
.bg-faq {
    background-color: #64dd17;
}

.warning,
.caution,
.attention {
    color: #ff9100;
}

.bg-warning,
.bg-caution,
.bg-attention {
    background-color: #ff9100;
}

.failure,
.fail,
.missing {
    color: #ff5252
}

.bg-failure,
.bg-fail,
.bg-missing {
    background-color: #ff5252
}

.danger,
.error {
    color: #ff1744;
}

.bg-danger,
.bg-error {
    background-color: #ff1744;
}

.bug {
    color: #f50057;
}

.bg-bug {
    background-color: #f50057;
}

.example {
    color: #651fff;
}

.bg-example {
    background-color: #651fff;
}

.quote, 
.cite {
    color: #9e9e9e;
}

.bg-quote, 
.bg-cite {
    background-color: #9e9e9e;
}