/* reset font style for new span */
.newspan {
    font-style: unset;
}

/* new class for inline elements */
.inline {
    display: inline-block;
}

/* new class for hidden content */
.hidden {
    display: none;
}

.md-header-nav__title {
    padding: 0;
}

/* Make logo look better */
.md-nav__title .md-nav__button.md-logo img, 
.md-nav__title .md-nav__button.md-logo svg {
    display: unset;
    width: 32px;
    height: 32px;
}

.md-content {
    margin-bottom: 15px;
}

/* h2 header should be seen clearly */
.md-typeset h2 {
    font-weight: 400;
}

/* unformatted code should be highlighted */
.md-typeset code {
    color: var(--md-code-hl-special-color);
}

/* increase font size for code block in admonition or details block */
.md-typeset .admonition code,
.md-typeset details code {
    font-size: unset;
}

/* add padding and border to tabs */
.md-typeset .tabbed-set {
    margin: 0.5em 0;
    padding: 0 0.5em;
    border: 1px dotted lightgray;
}

/* format the figure caption */
.md-typeset figcaption {
    color: dimgrey;
    margin: auto;
    font-style: unset;
}

/* move tables to center */
.md-typeset__scrollwrap {
    text-align: center;
}

/* easy to catch the active tab */
.md-tabs__link--active {
    color: yellow;
    /* font-size: large; */
}

/* Merge footer and footer-meta background */
.md-footer-meta {
    background-color: transparent;
}

/* emoji */
.md-typeset span.twemoji {
    vertical-align: middle;
}

/* footer social links*/
.md-footer-links {
    margin-bottom: 1rem;
}

.md-footer-social {
    padding: 0 !important;
    text-align: right;
}

.md-footer-social a {
    margin-left: 0.5em;
}

.md-footer-social__link {
    height: unset;
}

.md-footer-social__link svg {
    width: 32px;
    max-height: 1.6rem;
}
/* repository */
.md-source__repository {
    font-weight: unset;
}

/* last update date */
.md-source-date {
    flex-direction: row;
    margin-right: .5rem;
}

/* for custom blocks */
.videowrapper {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    height: 0;
    width: 100%
}

.videowrapper iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

@media print {
    /* hide some stuff */
    #back-to-top,
    #disqus_section {
        visibility: hidden !important;
    }

    /* do not braek progress graphic */
    .progress {
        page-break-inside: avoid !important;
    }

    /* expand tab content */
    .md-typeset .tabbed-set {
        border: none !important;
    }

    .md-typeset .tabbed-set>input:checked+label {
        border: none !important;
    }

    .md-typeset .tabbed-set>label {
        color: unset !important;
        padding-left: 0 !important;  
    }
}