/* reset font style for new span */
.newspan {
    font-style: unset;
}

/* new class for inline elements */
.inline {
    display: inline-block;
}

/* new class for hidden content */
.hidden {
    display: none;
}

.md-header-nav__title {
    padding: 0;
}

/* Make logo look better */
.md-nav__title .md-nav__button.md-logo img, 
.md-nav__title .md-nav__button.md-logo svg {
    display: unset;
    width: 32px;
    height: 32px;
}

/* remove margin from the first element in the page */
.md-content__inner *:first-child {
    margin-top: 0;
}

/* h2 header should be seen clearly */
.md-typeset h2 {
    font-weight: 400;
}

/* unformatted code should be highlighted */
.md-typeset code {
    color: var(--md-code-hl-special-color);
}

/* increase font size for code block in admonition or details block */
.md-typeset .admonition code,
.md-typeset details code {
    font-size: unset;
}

/* add padding and border to tabs */
.md-typeset .tabbed-set {
    margin: 0.5em 0;
    padding: 0 0.5em;
    border: 1px dotted lightgray;
}

/* format the figure caption */
.md-typeset figcaption {
    color: dimgrey;
    margin: auto;
    font-style: unset;
}

/* move tables to center */
.md-typeset__scrollwrap {
    text-align: center;
}

/* easy to catch the active tab */
.md-tabs__link--active {
    color: yellow;
    /* font-size: large; */
}

/* Merge footer and footer-meta background */
.md-footer-meta {
    background-color: transparent;
}

/* for custom blocks */
.videowrapper {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    height: 0;
    width: 100%
}

.videowrapper iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/* back to top */
#back-to-top {
    display: flex;
    background-color: #FF9800;
    width: 48px;
    height: 48px;
    text-align: center;
    border-radius: 0.5em;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0.4;
    visibility: hidden;
    z-index: 1000;
}

#back-to-top:hover {
    opacity: 1;
}

#back-to-top.show {
    visibility: visible;
}

#back-top-top-indicator {
    height: 1.5em;
    margin: auto;
    color: white;
}