/* background image */
body {
    background: 
        linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)),
        url(../assets/images/index.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
}

/* clear landing page */
.md-header,
.md-header[data-md-state=shadow] {
    background-color: transparent;
    box-shadow: none;
}

.md-search__input,
.md-tabs,
.md-footer,
.md-footer-meta {
    background-color: transparent;
}

.md-footer-nav,
.md-footer-social {
    display: none;
}

/* make main content element fills up the page */
.md-main {
    display: flex;
    flex-direction: column;
}

.md-main__inner {
    max-width: unset;
    margin-top: unset;
    flex-grow: 1;
}

.md-content {
    display: flex;
    flex-direction: column;
}

.md-content__inner::before {
    display: none;
}

.md-content__inner {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

/* remove retricted width on large screen */
@media screen and (min-width: 76.25em) {
    .md-content {
        max-width: unset;
    }
}

@media screen and (max-width: 76.1875em) and (min-width: 60em) {
    .md-content {
        max-width: unset;
    }
}

/* text effect */
.glow {
    text-shadow: 
        0 0  0px #ffffff, 
        0 0 80px #58aff7; 
}

.glow-pulse {
    animation: glow-pulse 1.5s infinite alternate;
}

@keyframes glow-pulse {
    from { text-shadow: 
             0 0  0px #ffffff; }
    to { text-shadow: 
             0 0 80px #58aff7; }
}

/* set up layout */
.section {
    display: flex;
    flex-direction: column;
}

.padding-up {
    flex-grow: 1;
}

.padding-down {
    flex-grow: 2;
}

.section-content {
    max-width: 61rem;
    margin-left: auto;
    margin-right: auto;
    flex-grow: 1;
    color: white;
}

.section-content .intro {
    font-size: 1.2em;
}
.section-content h1 {
    color: white;
}

.section-content .site-title {
    margin-bottom: 0.2em !important;
    font-size: 2em;
}

.section-content .site-typed {
    font-size: 1.2em;
    font-weight: 300;
}

.section-content .button-links {
    margin-top: 4em;
}

.section-content .button-links a {
   color: white;
   margin-right: 0.5em;
}

.section-content .button-links a:hover {
    color: white;
    border-color: yellowgreen;
}

.section-content .button-social {
    margin-top: 0.5em;
}

.section-content .button-social span.twemoji svg {
    width: 32px;
    height: 32px;
    max-height: unset;
}

.section-content .button-social a {
    color: white;
    margin-right: 0.5em;
}

.section-content .button-social a:hover {
    color: greenyellow;
}
