/* use with kbdextension */

.md-typeset kbd[class^=key] {
    color: white;
    background-color: dimgray;
}

.md-typeset kbd.menu {
    color: teal;
    border: 1px solid  teal;
    font-weight: 700;
}

.md-typeset kbd.button {
    color: dodgerblue;
    border: 1px solid  dodgerblue;
}

.md-typeset kbd.action {
    color: indigo;
    border: 1px solid  indigo;
}
