.md-typeset {
    font-size: 0.75rem;
}

/* headers */
.md-typeset h1 {
    color: unset;
}

.md-typeset h2 {
    border-bottom: 1px solid;
    padding-bottom: 0.25em;
}

.md-typeset h3 {
    border-bottom: 1px dashed;
    padding-bottom: 0.25em;
}

/* emoji */
.md-typeset span.twemoji {
    vertical-align: middle;
}

/* add row and column layout */
.md-typeset .row {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.md-typeset .row .col {
    width: 100%;
    margin-left: 0.25em;
    margin-right: 0.25em;
}

.md-typeset .row .col:first-child {
    margin-left: 0;
    margin-right: 0.25em;
}

.md-typeset .row .col:last-child {
    margin-left: 0.25em;
    margin-right: 0;
}

/* Sidebars go out of focus */
.md-nav__link {
    opacity: 0.3;
}

.md-nav__link:hover {
    opacity: 1;
}

.md-nav__link.md-nav__link--active {
    opacity: 1;
}

/* make tables fill width */
.md-typeset__table {
    display: block;
}

.md-typeset table:not([class]) {
    display: table;
    font-size: 0.9em;
    box-shadow: unset;
}

/* format table to have border lines */
.md-typeset table:not([class]) th,
.md-typeset table:not([class]) td {
    border-top: 1px solid var(--md-default-fg-color--lightest) !important;
    border-left: 1px solid var(--md-default-fg-color--lightest) !important;
    border-right: 1px solid var(--md-default-fg-color--lightest) !important;
    border-bottom: 1px solid var(--md-default-fg-color--lightest) !important;
}
