/* use with pymdownx.progressbar */

.md-typeset .progress-label {
    position: absolute;
    text-align: center;
    /* font-weight: 700; */
    width: 100%;
    margin: 0 !important;
    line-height: 1.2rem;
    white-space: nowrap;
    overflow: hidden;
}
  
.md-typeset .progress-bar {
    height: 1.2rem;
    float: left;
    background-color: #2979ff;
}
  
.md-typeset .progress {
    display: block;
    width: 100%;
    margin: 0.5rem 0;
    height: 1.2rem;
    background-color: #eeeeee;
    position: relative;
}
  
.md-typeset .progress.thin {
    margin-top: 0.9rem;
    height: 0.4rem;
}
  
.md-typeset .progress.thin .progress-label {
    margin-top: -0.4rem;
}
  
.md-typeset .progress.thin .progress-bar {
    height: 0.4rem;
}  

.md-typeset .progress-100plus .progress-bar {
    background-color: #00e676;
}
  
.md-typeset .progress-80plus .progress-bar {
    background-color: #fbc02d;
}
  
.md-typeset .progress-60plus .progress-bar {
    background-color: #ff9100;
}
  
.md-typeset .progress-40plus .progress-bar {
    background-color: #ff5252;
}
  
.md-typeset .progress-20plus .progress-bar {
    background-color: #ff1744;
}
  
.md-typeset .progress-0plus .progress-bar {
    background-color: #f50057;
}