.md-typeset details {
    padding: 0;
    border-left: none;
}

.md-typeset summary::before {
    display: none;
}

.md-typeset summary {
    border-left: none;
    margin: 0;
    padding: .4rem 0.5rem .4rem 0.5rem;
}