/* change task list icons */
:root {
    --md-tasklist-icon: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19 3H5c-1.11 0-2 .89-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2m0 2v14H5V5h14z"/></svg>');
    --md-tasklist-icon--checked: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="m10 17-5-5 1.41-1.42L10 14.17l7.59-7.59L19 8m0-5H5c-1.11 0-2 .89-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2z"/></svg>');
}

/* logo */
.md-logo {
    color: orangered;
}

/* back-to-top button */
.md-top {
    border: 1px solid orangered;
    color: orangered;
    padding: 0.25em 0.5em;
}
.md-top:hover {
    color: black;
}

/* main content */
.md-main__inner {
    margin-top: 0;
}

/* wider page content */
.md-grid {
    max-width: 71rem;
}

/* sidebar */
.md-sidebar__scrollwrap {
    overflow: hidden;
}
.md-sidebar__scrollwrap:hover {
    overflow-y: auto;
}

/* fade sidebar to help focusing on content */
/* @media screen and (min-width: 76.1875em) {
    .md-sidebar {
        opacity: 0.2;
    }
    .md-sidebar:hover {
        opacity: 1;
    }
} */

/* search input */
[data-md-color-primary] .md-search__form {
    background-color: transparent;
}

/* make footer looks smaller */
.md-footer {
    color: unset;
    background-color: unset;
}
.md-footer-meta {
    background-color: black;
}

/* header should be standout */
.md-typeset h1,
.md-typeset h2,
.md-typeset h3,
.md-typeset h4 {
    color: orangered;
}
.md-typeset h1 {
    font-size: 2em;
}
.md-typeset h2 {
    font-size: 1.5em;
    padding-bottom: 0.25em;
    border-bottom: 1px solid gray;
}
.md-typeset h3 {
    font-size: 1.25em;
}
.md-typeset h4 {
    font-size: 1.125em;
    font-weight: normal;
}

/* paragraph */
.md-typeset p {
    text-align: justify;
}
.md-typeset .big {
    font-size: larger;
}
.md-typeset .small {
    font-size: smaller;
}
.md-typeset .bold {
    font-weight: bold;
}
.md-typeset p:empty {
    display: none;
}

/* new elements */
.md-typeset .row {
    display: flex;
    flex-direction: row;
}
.md-typeset .row .col {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 0.25em;
}
.md-typeset .row .col:first-of-type {
    margin-left: 0;
}
.md-typeset .row .col:last-of-type {
    margin-right: 0;
}

/* captions */
.md-typeset figcaption {
    max-width: unset;
    margin: 1em auto;
}
.md-typeset figure img {
    margin: auto;
}
.md-typeset figure {
    margin-top: 0;
    margin-bottom: 0;
}

/* blockquote */
.md-typeset blockquote {
    border-left: 2px solid lightgray;
}
.md-typeset blockquote :first-child {
    margin-top: 0.25em;
}
.md-typeset blockquote :last-child {
    margin-bottom: 0.25em;
}

/* code block */
.md-typeset mark > code {
    background-color: unset;
}
.md-typeset code {
    color: darkred;
}
.md-typeset pre code {
    white-space: pre-wrap;
    word-break: break-word;
}
.md-typeset .highlight [data-linenos]:before {
    background-color: unset;
    color: lightgray;
    box-shadow: none;
}

/* table */
.md-typeset__scrollwrap {
    margin: unset;
}
.md-typeset__table {
    padding: 0;
    display: block;
}
.md-typeset table:not([class]) {
    font-size: 0.9em;
    box-shadow: none;
    display: table;
    border-collapse: collapse;
}
.md-typeset table:not([class]) th {
    background-color: rgba(0, 184, 212, 0.1);
}
.md-typeset table:not([class]) th,
.md-typeset table:not([class]) td {
    padding: 0.5em;
    border: 1px solid #f0f0f0;
    min-width: unset;
}
.md-typeset table:not([class]) code {
    word-break: normal;
}

/* buttons */
.md-typeset .md-button {
    font-size: small;
    font-weight: unset;
    padding: 0.25em 0.5em;
    border: 1px solid;
    color: orangered;
    margin-right: 0.5em;
}
.md-typeset .md-button .twemoji {
    font-size: large;
}

/* task list */
.md-typeset .task-list-indicator:before {
    background-color: gray;
}
.md-typeset [type="checkbox"]:checked + .task-list-indicator:before {
    background-color: green;
}
.md-typeset dd {
    margin-top: 0;
}

/* file */
.md-typeset .file + p {
    font-size: 0.9em;
    color: gray;
    margin-bottom: -1.2em;
}

/* log */
.md-typeset .log {
    margin-bottom: -1em;
}
.md-typeset .log + .highlight code,
.md-typeset .log + p + .highlight code {
    font-size: small;
    color: unset;
    opacity: 0.8;
}
.md-typeset .log + .highlight .md-clipboard.md-icon {
    display: none;
}

/* admonition and collapsible */
.md-typeset .admonition,
.md-typeset details {
    background-color: unset;
    border: none;
    box-shadow: none;
    border-radius: 0;
    font-size: unset;
    margin: 0.5em 0;
}
.md-typeset .admonition > *:not(.admonition-title),
.md-typeset details > *:not(summary) {
    padding-left: 1rem;
}
.md-typeset .admonition-title,
.md-typeset summary {
    background-color: unset !important;
    border: none;
    padding-left: 1.7rem;
    z-index: -1;
}
.md-typeset .admonition-title:before,
.md-typeset summary:before {
    height: 1.2rem;
    width: 1.2rem;
    left: 0.2rem;
}
.md-typeset .admonition > .admonition-title + *,
.md-typeset details > summary + * {
    margin-top: 0;
}
.md-typeset .admonition.no-title > .admonition-title + *,
.md-typeset details.no-title > summary + * {
    margin-top: -2.1em;
}

/* tabs */
.md-typeset .tabbed-labels > label {
    padding: 0.25em;
    margin-right: 1em;
}
.md-typeset .tabbed-content .tabbed-set {
    padding-left: 1em;
}

/* tags */
.tag {
    white-space: nowrap;
    margin-right: 0.25em;
}
.tag-cloud-content {
    padding: 0 0.6rem;
    margin-bottom: 1em;
    text-align: center;
}

/* progress bar */
.progress-label {
    position: absolute;
    width: 100%;
    margin: 0;
    line-height: 1.2rem;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 1em;
}
.progress-bar {
    height: 1.2rem;
    float: left;
    background-color: #2979ff57;
}
.progress-bar * {
    margin: 0 !important;
}
.progress {
    display: block;
    width: 100%;
    margin: 0.5rem 0;
    height: 1.2rem;
    background-color: #eeeeee;
    position: relative;
}
.progress.thin {
    margin-top: 0.9rem;
    height: 0.4rem;
}
.progress.thin .progress-label {
    margin-top: -0.4rem;
}
.progress.thin .progress-bar {
    height: 0.4rem;
}
.progress-100plus .progress-bar {
    background-color: #00e67757;
}
.progress-80plus .progress-bar {
    background-color: #fbc02d57;
}
.progress-60plus .progress-bar {
    background-color: #ff910057;
}
.progress-40plus .progress-bar {
    background-color: #ff525257;
}
.progress-20plus .progress-bar {
    background-color: #ff174457;
}
.progress-0plus .progress-bar {
    background-color: #f5005757;
}

/* width */
.w100 {
    width: 100% !important;
}
.w95 {
    width: 95% !important;
}
.w90 {
    width: 90% !important;
}
.w85 {
    width: 85% !important;
}
.w80 {
    width: 80% !important;
}
.w75 {
    width: 75% !important;
}
.w70 {
    width: 70% !important;
}
.w65 {
    width: 65% !important;
}
.w60 {
    width: 60% !important;
}
.w55 {
    width: 55% !important;
}
.w50 {
    width: 50% !important;
}
.w45 {
    width: 45% !important;
}
.w40 {
    width: 40% !important;
}
.w35 {
    width: 35% !important;
}
.w30 {
    width: 30% !important;
}
.w25 {
    width: 25% !important;
}
.w20 {
    width: 20% !important;
}
.w15 {
    width: 15% !important;
}
.w10 {
    width: 10% !important;
}
.w5 {
    width: 5% !important;
}

/* printing */
@media print {
    /* hide comments */
    .md-typeset #__comments,
    .md-typeset #disqus_recommendations,
    .md-typeset #disqus_thread {
        display: none;
    }
}

/* printing */
.md-typeset .print-only {
    display: none;
}

@page {
    size: a4 portrait;
    margin: 25mm 15mm 25mm 20mm;
}
@media print {
    .md-typeset .print-only {
        display: block;
    }
    .md-typeset .screen-only {
        display: none;
    }
    .md-typeset #__comments,
    .md-typeset #disqus_recommendations,
    .md-typeset #disqus_thread {
        display: none;
    }
    .md-typeset .new-page {
        page-break-after: always;
    }
    .md-typeset .new-page + *,
    .md-typeset .toc + *,
    .md-typeset .btn-actions + * {
        margin-top: 0;
    }
    .md-typeset figure {
        page-break-inside: avoid;
    }
    .md-typeset .admonition,
    .md-typeset details {
        page-break-inside: auto;
    }
    .md-typeset .admonition-title:before,
    .md-typeset summary:before {
        height: 1rem;
        width: 1rem;
    }
    .md-typeset .tabbed-labels > label {
        background-color: var(--md-code-bg-color);
        color: orangered;
    }
}
